{% extends 'base.html.twig' %}

{% block title %}Dormitory{% endblock %}

{% block body %}
    <h1>Dormitory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dormitory.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ dormitory.title }}</td>
            </tr>
            <tr>
                <th>Keywords</th>
                <td>{{ dormitory.keywords }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ dormitory.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{asset('uploads/images'/ ~hotel.image) }}" height="100"></td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ dormitory.address }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ dormitory.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ dormitory.email }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ dormitory.city }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ dormitory.status }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ dormitory.createdAt ? dormitory.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ dormitory.updatedAt ? dormitory.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_app_dormitory_index') }}">back to list</a>

    <a href="{{ path('admin_app_dormitory_edit', {'id': dormitory.id}) }}">edit</a>

    {{ include('admin/dormitory/_delete_form.html.twig') }}
{% endblock %}
